.waitlist a,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $color__background-button;
	color: #000;
	@include font-size(1);
	padding: 10px;
	margin: 0;
	transition-duration: 0.4s;

	&:hover {
		background: $color__background-button-hover;
	}

	&:active,
	&:focus {
		background: $color__background-button-hover;
	}
}
