/* General styles */
body {
  background-color: #F2F2F2;
  font-family: 'Karla', sans-serif;
}

#wpwrap {
  font-family: 'Karla', sans-serif !important;
}

/* Sidebar styles */
div#adminmenuback, div.wp-menu-name, .dashicons-admin-appearance {
  background-color: #EAEAEA;
  color: #313131;
  text-transform: uppercase;
}

div#adminmenuback, div.wp-menu-name:hover {
  color: #767676 !important;
}

#adminmenu div.wp-menu-image:before {
  color: #313131 !important;
}

#adminmenu a, #adminmenu .wp-submenu-head, #adminmenu a.menu-top {
  font-size: 14px !important;
}

#adminmenu li a:focus div.wp-menu-image #adminmenu li.opensub div.wp-menu-image, #adminmenu li:hover div.wp-menu-image {
  color: #313131;
}

ul.wp-submenu.wp-submenu-wrap {
  background-color: #EAEAEA !important;
}

ul.wp-submenu.wp-submenu-wrap a {
  color: #767676 !important;
}

ul.wp-submenu.wp-submenu-wrap a:hover {
  color: #313131 !important;
}

div#adminmenuwrap, ul#adminmenu {
  background-color: #EAEAEA !important;
}

a.wp-first-item.current {
  color: #313131 !important;
}

#adminmenu .wp-not-current-submenu li>a, .folded #adminmenu .wp-has-current-submenu li>a {
  padding-left: 28px;
}

#collapse-button .collapse-button-icon:after, #collapse-button .collapse-button-label {
  color: #767676 !important;
}

#collapse-button:hover, #collapse-button .collapse-button-label:hover {
  color: #313131 !important;
}

/* Top admin bar styles */
div#wpadminbar {
  background-color: #EAEAEA !important;
}

div#wpadminbar p, div#wpadminbar a, span.ab-label, span.display-name {
  font-family: 'Karla', sans-serif !important;
}

span.ab-label:before {
  content: "+ ";
}

a.ab-item::before {
  display: none;
}

a.ab-item {
  margin-left: 3px !important;
}

#wpadminbar .ab-empty-item, #wpadminbar a.ab-item, #wpadminbar>#wp-toolbar span.ab-label, span.ab-item {
color: #767676 !important;
}

span.ab-icon {
  display: none;
}

#wpadminbar .ab-top-menu>li.hover>.ab-item, #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus, #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item, #wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus {
  background-color: #EAEAEA !important;
  color: #767676 !important;
}

#wpadminbar .ab-empty-item, #wpadminbar a.ab-item, #wpadminbar>#wp-toolbar span.ab-label, #wpadminbar>#wp-toolbar span.noticon {
    color: #767676 !important;
}

.ab-submenu {
  background-color: #EAEAEA !important;
}

.ab-submenu a {
  color: #767676 !important;
}

.ab-submenu a:hover {
  color: #313131 !important;
}

#wpadminbar #wp-admin-bar-my-account.with-avatar>.ab-empty-item img, #wpadminbar #wp-admin-bar-my-account.with-avatar>a img {
  border: none;
  border-radius: 50%;
}

#wp-admin-bar-user-info .avatar {
  border-radius: 50%;
}

input[type=checkbox]:checked:before {
  color: #313131 !important;
}

.contextual-help-tabs a, .contextual-help-sidebar a {
  color: #767676 !important;
}

li#tab-link-overview.active {
  border-left: 2px solid #313131 !important;
}

span.display-name, a.ab-item {
  font-weight: bold !important;
  color: #313131 !important;
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
  background: #fff !important;
}

#wpadminbar #wp-admin-bar-my-sites a.ab-item, #wpadminbar #wp-admin-bar-site-name a.ab-item {
  font-family: 'Karla', sans-serif;
  color: #313131 !important;
}

/* Main body styles */
div#wpbody-content h1 {
  text-transform: uppercase;
}

.button.button-hero, .button-primary, .editor-post-publish-button, .editor-post-trash, .editor-post-preview, .page-title-action, .action, #post-query-submit, #search-submit, .components-button.editor-post-publish-panel__toggle, .cancel, .media-button, .submit-add-to-menu, .delete, .change-theme, .upload-button, .remove-button {
  border: none !important;
  text-transform: uppercase;
  background-color: #E5E5E5 !important;
  color: #313131 !important;
  text-shadow: none !important;
  box-shadow: none !important;
}

.button.button-hero:hover, .button-primary:hover, .editor-post-publish-button:hover, .editor-post-trash:hover, .editor-post-preview:hover, .page-title-action:hover, .action:hover, #post-query-submit:hover, #search-submit:hover, .components-button.editor-post-publish-panel__toggle:hover, .cancel:hover, .media-button:hover, .submit-add-to-menu:hover, .delete:hover, .change-theme:hover, .upload-button:hover, .remove-button:hover {
  background-color: #313131 !important;
  color: #EAEAEA !important;
}

a, .components-button.is-link, .components-button.is-tertiary, .button-link {
  color: #767676 !important;
  cursor: pointer;
}

a:hover, .components-button.is-link:hover, .components-button.is-tertiary:hover, .button-link:hover {
  color: #313131 !important;
}

textarea {
  font-family: 'Karla', !important;
}

.edit-post-sidebar__panel-tab.is-active {
  border-bottom: 3px solid #313131 !important;
}

.edit-post-sidebar input[type=checkbox]:checked {
  background-color: #fff !important;
  border: 1px solid #000 !important;
}

.editor-post-title__block .editor-post-title__input,
.edit-post-visual-editor, .edit-post-visual-editor p, .editor-default-block-appender__content {
    font-family: 'Karla', sans-serif !important;
}

span#footer-thankyou {
  font-size: 0;
}
