$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #fff;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-section: #262A2B;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #262A2B;
$color__link-visited: #262A2B;
$color__link-hover: #707070;
$color__link-nav: #fff;
$color__link-nav-hover: #ccc;
$color__text-main: #404040;

// $color__border-button: #fff;
// $color__border-button-hover: #ccc #bbb #aaa;
$color__background-button-hover: #ccc;
$color__background-button-focus: #707070;
$color__border-input: #ccc;
$color__border-abbr: #666;
