// General
body {
  min-height: calc(100vh - 500px);
}

h1,
h2,
h3,
h4 {
  font-weight: 400 !important;
}

h1 {
  font-size: 2.7em;
}

h3 {
  font-size: 2em;
}

// Header
.site-header {
  background-color: $color__background-section !important;
  display: flex;
  padding: 0 1em;
  // height: 90px;

  .custom-logo {
    max-width: 150px;
    padding: 15px;
  }
}

// Main
.site-content {
  max-width: 2000px;
  padding: 0 2em;
}

// Footer
footer {
  background-color: $color__background-section;
  color: #fff;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  height: 585px;

  a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
  }

  .nf-form-cont {
    width: 500px;

    .nf-form-fields-required {
      display: none;
    }

    .ninja-forms-req-symbol {
      color: $color__background-light-grey;
    }

    label {
      font-weight: normal !important;
      text-transform: uppercase;
    }

    input,
    textarea {
      border-radius: 0;
    }
  }

  .col-2 {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    flex-grow: 1;

    .custom-logo {
      max-width: 125px;
      margin-top: 40px;
    }

    p.footer-links {
      margin: 0;
    }

    p.copy {
      // margin-top: 10px;
    }
  }

  .site-footer {
    padding-bottom: 20px;
  }
}
